body {
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    background: linear-gradient(180deg, #0a0a1a, #1a1a2e);                                                
    color: #f0f0f0;   
 background-size: cover;
    background-position: center;
  background-repeat: no-repeat; 
              
  }

  header {
    background: #111122;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #4adede;
  }

nav.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #151526;
  padding: 20px 50px;
  flex-wrap: wrap;
}

.logo img {
  height: 90px;
  width: auto;
}

.nav-links {
  display: flex;
  gap: 30px;
  flex: 1;
  justify-content: center;
  flex-wrap: wrap;
}

.auth-links {
  display: flex;
  gap: 20px;
}


.nav-links a{

color: #fff;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 20px; 
  letter-spacing: 0.5px;

}
.auth-links a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 20px; 
  letter-spacing: 0.5px;
}

.nav-links a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #4adede;
  transition: width 0.3s;
  margin: 2px auto 0;
}

.nav-links a:hover::after {
  width: 100%;
}


.nav-links a:hover{

color: #4adede;

}

.auth-links a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #4adede;
  transition: width 0.3s;
  margin: 2px auto 0;
}

.auth-links a:hover::after {
  width: 100%;
}

.auth-links a:hover {
  color: #4adede;
}

section {
  margin: 40px 20px;
border-radius: 10px;
  padding-top: 20px;
 
}

section p {

display: flex;
justify-content: center;


}

section h1 {
  font-size: 28px;
  color: #4adede;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

article {
  background-color: #1a1a2e;
  border-radius: 10px;
  padding: 20px;
  margin: 15px 0;
  
}

article h3 {
  color: #4adede;
  font-size: 20px;
  margin-bottom: 10px;
}

ul {
  margin-left: 20px;
  list-style: disc;
}

footer {
    text-align: center;
    padding: 20px;
    background: #111122;
    color: #666;
    border-top: 2px solid #4adede;
  }

footer a {
  color: #00ffff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}